<div class="row">
  <div class="col-md-12">
    <form class="">
      <div class="form-group">
        <input type="text" class="form-control input-sm" placeholder="Enter Github Username" [(ngModel)]="username" name="username" (keyup)="searchUser()" autofocus="true">
      </div>
    </form>
  </div>
</div>

<div *ngIf='user'>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><h3>{{user.name}}</h3></strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img  id="btn-viewprofile" src="{{user.avatar_url}}">
          <a href="{{user.html_url}}" id="btn-viewprofile" class="btn btn-primary btn-block" target="_blank">View Profile</a>
        </div>
        <div class="col-md-8">  
          <ul>
            <div class="stats">
              <span class="label label-default">{{user.public_repos}} Public Repos</span>
              <span class="label label-primary">{{user.public_gists}} Public Gists</span>
              <span class="label label-success">{{user.followers}} Followers</span>
              <span class="label label-info">{{user.following}} Following</span>          
            </div>
            <br>    
            <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
            <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
            <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
            <li class="list-group-item"><strong>Website: </strong><a href="{{user.blog}}" target="_blank">{{user.blog}}</a></li>
            <li class="list-group-item"><strong>Member since: </strong>{{user.created_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Repos</h3>
    </div>
    <div class="panel-body">
      <div *ngFor='let repo of repos'>
        <div class="row">
          <div class="col-md-9">
            <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
            <p>{{repo.description}}</p>
          </div>
          <div class="col-md-3">
            <span class="label label-default">{{repo.watchers}} Watchers</span>
            <span class="label label-primary">{{repo.forks}} Forks</span>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>  

</div>